/*
/$$$$$$$$                     /$$                                /$$$$$$                            /$$ /$$$$$$   /$$                            
| $$_____/                    | $$                               /$$__  $$                          | $$|_  $$_/  | $$                            
| $$       /$$   /$$  /$$$$$$ | $$  /$$$$$$   /$$$$$$   /$$$$$$ | $$  \__/  /$$$$$$   /$$$$$$   /$$$$$$$  | $$   /$$$$$$    /$$$$$$  /$$$$$$/$$$$ 
| $$$$$   |  $$ /$$/ /$$__  $$| $$ /$$__  $$ /$$__  $$ /$$__  $$| $$       |____  $$ /$$__  $$ /$$__  $$  | $$  |_  $$_/   /$$__  $$| $$_  $$_  $$
| $$__/    \  $$$$/ | $$  \ $$| $$| $$  \ $$| $$  \__/| $$$$$$$$| $$        /$$$$$$$| $$  \__/| $$  | $$  | $$    | $$    | $$$$$$$$| $$ \ $$ \ $$
| $$        >$$  $$ | $$  | $$| $$| $$  | $$| $$      | $$_____/| $$    $$ /$$__  $$| $$      | $$  | $$  | $$    | $$ /$$| $$_____/| $$ | $$ | $$
| $$$$$$$$ /$$/\  $$| $$$$$$$/| $$|  $$$$$$/| $$      |  $$$$$$$|  $$$$$$/|  $$$$$$$| $$      |  $$$$$$$ /$$$$$$  |  $$$$/|  $$$$$$$| $$ | $$ | $$
|________/|__/  \__/| $$____/ |__/ \______/ |__/       \_______/ \______/  \_______/|__/       \_______/|______/   \___/   \_______/|__/ |__/ |__/
                    | $$  */                
                    
    
// Explore Card Item - Stylesheet

div.personCard {
padding: 10px 0px 25px 0px;
background-color: rgb(245, 245, 245);
display: inline-block;
margin: 10px 10px;
width: 25%;





    img.personPic {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    div.personTop {
      
    }

    div.personMid {

    }

    div.personFooter {

    }
}

@media only screen and (max-width: 700px) { 
    div.personCard {
        width: 33%;
    }
}