/*
  _     _ _                           
 | |   (_) |__  _ __ __ _ _ __ _   _  
 | |   | | '_ \| '__/ _` | '__| | | | 
 | |___| | |_) | | | (_| | |  | |_| | 
 |_____|_|_.__/|_|  \__,_|_|   \__, | 
                               |___/  
      Import Library - Variables                 
  ____ _____ _____ _____ _____ _____ 
 |_____|_____|_____|_____|_____|_____|
*/
@import './utilities/_library.scss';

/* 
     __  __       _          _   _ ___               
    |  \/  | __ _(_)_ __    | | | |_ _|              
    | |\/| |/ _` | | '_ \   | | | || |               
    | |  | | (_| | | | | |  | |_| || |               
    |_|  |_|\__,_|_|_| |_|   \___/|___|       
    Main UI - SCSS /w imported Library       
  _____ _____ _____ _____ _____ _____ _____ _____ 
 |_____|_____|_____|_____|_____|_____|_____|_____|
  
 This the the main document for the styling for the App.js component, here the main theme off
 the app is chosen from the variables listed above, be careful with how you change CSS here. 

 Todo:
  - Set Variables for different themes
  - Try out different types of UI
*/
$img:"../assets/bg/priv.jpg";
$selected-UI: $light-ui;


body::before {
  content: '';
  background-color: rgb(245, 212, 212);
  background-image: linear-gradient(to bottom, #e8edf1 0%, white 100%);
  filter: blur(13px);
  position: absolute;
  left:0; top:0; right:0; bottom:0;
  z-index: -1;
  pointer-events: none;
}

body {
  display:flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}
.main { 
  font-family: map-get($map: $selected-UI, $key: "font-family");
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;  
}

div.content-nav {
  height: 70px;/*
  -webkit-box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 6px 5px 2px rgba(0,0,0,0.05);*/
  background-image: linear-gradient(to top, #e8edf1 0%, white 100%);

}


p.back-p {
  opacity: 0.3;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  height: 50px;
  width: 110px;
  justify-content: center;
  display: flex;
  transition: 0.25s opacity ease;
  font-weight: bold;
}

.content {

}
p.back-p:hover {
  opacity: 1;
  cursor: pointer;
  color: #ff3a75f5;
}

p.back-p svg {
  margin-top: -10px;
  margin-right: 5px;
  font-size: 60px;
}
@media only screen and (max-width: 1000px) { div.content{overflow-y: scroll;}}
@media only screen and (max-width: 600px) {
  body {
    overflow-y: hidden;
  }
  div.content {
    border-top: solid 4px #ff3a75f5;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 70px);
    
  }
  p.back-p {
    opacity: 0.3;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 73px;
    margin-right: -1px;
    transform: scale(0.75);
  }
  div.content-nav {
    z-index: 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;/*
    -webkit-box-shadow: 0px -2px 26px 2px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px -2px 26px 2px rgba(0,0,0,0.09);
    box-shadow: 0px -2px 26px 2px rgba(0,0,0,0.09);*/
    background-image: linear-gradient(to bottom, #e8edf1 0%, white 100%);
  }
  
  body::before {
    background-size: 100% 100%;
    background-image: linear-gradient(to top, #e8edf1 0%, white 100%);
}
}

.content {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

body > div.MuiDrawer-root.MuiDrawer-modal > div.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
  overflow-x: hidden;
}
div.menuBtn {
  display: flexbox;
}



